/* src/app/app.component.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
nav {
  background: none;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.15s ease-in-out;
}

nav:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #535353;
}

h1{
  text-align: center;
}

/* 
nav {
display: flex;
justify-content: center;
background-color: #f8f9fa;
padding: 8px;
border-bottom: 1px solid #dee2e6;
}
.nav-link {
text-decoration: none;
font-size: 19.2px;
color: #007bff;
margin: 0 8px;
padding: 8px 16px;
border-radius: 5px;
transition: background-color 0.3s;
}

.nav-link:hover { 
background-color: #e2e6ea; 
}

.nav-link.active { 
 font-weight: bold; 
 border-bottom: 2px solid #007bff; 
}
*/

/* 
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}


.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.navbar {
  background-color: #343a40; 
  transition: background-color 0.3s ease; 
}


.navbar-brand {
  font-size: 1.5rem;
  padding: 10px 20px;
  transition: color 0.3s ease; 
}


.navbar-brand:hover {
  color: #007bff;
}


.navbar-nav .nav-link {
  padding: 10px 15px;
  transition: color 0.3s ease; 
}


.navbar-nav .nav-link:hover {
  color: #007bff; 
}

.container {
  padding: 20px;
}

.router-outlet {
  display: block;
  transition: opacity 0.3s ease; 
}


.router-outlet.ng-enter,
.router-outlet.ng-leave {
  opacity: 0; 
}


.router-outlet.ng-enter-active,
.router-outlet.ng-leave-active {
  opacity: 1; 
}

.navbar-nav .nav-link {
  position: relative;
  overflow: hidden;
}


.navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s ease, left 0.3s ease; 
}


.navbar-nav .nav-link:hover::before {
  width: 100%; 
  left: 0; 
} */
