<h1>TIMETABLE GENERATOR</h1>
<nav>
  <ul>
    <li><a routerLink="/login" class="nav-link">Login</a></li>
    <li><a routerLink="/cart" class="nav-link">cart</a></li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>

<!-- <div class="wrapper">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">TIMETABLE</a>
    <div class="navbar-nav ml-auto">
      <a routerLink="/login" class="nav-link">Login</a>
      <a routerLink="/cart" class="nav-link">cart</a>
    </div>
  </nav>


  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div> -->
